<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Testing" thread-count="5" parallel="tests">	
  <test thread-count="5" name="Functional Testing" >
    <classes>
      <class name="TestCases.AddToCart"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->